.table-wrapper {
  margin: 0 2rem;
  width: "100%";
  overflow: "hidden";
}

.table-wrapper > div {
  max-height: 600px;
}

@media screen and (max-width: 768px) {
  .table-wrapper {
    margin: 0;
  }
}
